<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate" level="warn" additivity="true"/>
    <logger name="org.hibernate.engine.jdbc.env.internal.JdbcEnvironmentInitiator" level="debug" additivity="true"/>
    <logger name="org.hibernate.SQL" level="debug" additivity="true"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="trace" additivity="true"/>
    <logger name="org.hibernate.persister.entity" level="debug" additivity="true"/>
    <logger name="org.mongodb.driver" level="warn" additivity="true"/>
    <logger name="com.mongodb.hibernate" level="debug" additivity="true"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>